-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: open_house
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attivita`
--

DROP TABLE IF EXISTS `attivita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attivita` (
  `id` int(11) NOT NULL,
  `istituto_id` int(11) NOT NULL,
  `titolo` varchar(255) NOT NULL,
  `descrizione` text NOT NULL,
  `tipo_attivita` enum('presentazione','laboratorio','tour_virtuale','workshop','altro') NOT NULL,
  `data_ora` datetime NOT NULL,
  `durata_minuti` int(11) DEFAULT 60,
  `max_partecipanti` int(11) DEFAULT 50,
  `supporta_vr` tinyint(1) DEFAULT 0,
  `url_vr` varchar(500) DEFAULT NULL,
  `materiali_url` text DEFAULT NULL,
  `stato` enum('bozza','pubblicata','in_corso','completata','cancellata') DEFAULT 'bozza',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attivita`
--

LOCK TABLES `attivita` WRITE;
/*!40000 ALTER TABLE `attivita` DISABLE KEYS */;
/*!40000 ALTER TABLE `attivita` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `istituti_e_partner`
--

DROP TABLE IF EXISTS `istituti_e_partner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `istituti_e_partner` (
  `ID_Ente` int(11) NOT NULL AUTO_INCREMENT,
  `Ragione_Sociale` varchar(255) DEFAULT NULL,
  `Tipologia` varchar(150) DEFAULT NULL,
  `CF_PIVA` varchar(20) DEFAULT NULL,
  `Cod_Mecc` varchar(20) DEFAULT NULL,
  `Cod_REA` varchar(20) DEFAULT NULL,
  `Indirizzo` varchar(255) DEFAULT NULL,
  `Comune` varchar(150) DEFAULT NULL,
  `Provincia` varchar(10) DEFAULT NULL,
  `Regione` varchar(100) DEFAULT NULL,
  `Coordinate_GPS` varchar(100) DEFAULT NULL,
  `Email` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `Stato_Validazione` tinyint(1) DEFAULT 0 COMMENT '0=In attesa, 1=Approvato, 2=Bloccato',
  PRIMARY KEY (`ID_Ente`)
) ENGINE=InnoDB AUTO_INCREMENT=282 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `istituti_e_partner`
--

LOCK TABLES `istituti_e_partner` WRITE;
/*!40000 ALTER TABLE `istituti_e_partner` DISABLE KEYS */;
/*!40000 ALTER TABLE `istituti_e_partner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materiali`
--

DROP TABLE IF EXISTS `materiali`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materiali` (
  `id` int(11) NOT NULL,
  `attivita_id` int(11) NOT NULL,
  `nome_file` varchar(255) NOT NULL,
  `url_file` varchar(500) NOT NULL,
  `tipo_file` varchar(50) DEFAULT NULL,
  `dimensione` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materiali`
--

LOCK TABLES `materiali` WRITE;
/*!40000 ALTER TABLE `materiali` DISABLE KEYS */;
/*!40000 ALTER TABLE `materiali` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messaggi_chat`
--

DROP TABLE IF EXISTS `messaggi_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messaggi_chat` (
  `id` int(11) NOT NULL,
  `attivita_id` int(11) NOT NULL,
  `utente_id` int(11) DEFAULT NULL,
  `istituto_id` int(11) DEFAULT NULL,
  `messaggio` text NOT NULL,
  `tipo` enum('messaggio','domanda','risposta') DEFAULT 'messaggio',
  `created_at` timestamp NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messaggi_chat`
--

LOCK TABLES `messaggi_chat` WRITE;
/*!40000 ALTER TABLE `messaggi_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `messaggi_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prenotazioni`
--

DROP TABLE IF EXISTS `prenotazioni`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prenotazioni` (
  `id` int(11) NOT NULL,
  `utente_id` int(11) NOT NULL,
  `attivita_id` int(11) NOT NULL,
  `stato` enum('confermata','in_attesa','cancellata','completata') DEFAULT 'confermata',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prenotazioni`
--

LOCK TABLES `prenotazioni` WRITE;
/*!40000 ALTER TABLE `prenotazioni` DISABLE KEYS */;
/*!40000 ALTER TABLE `prenotazioni` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scuole_csv`
--

DROP TABLE IF EXISTS `scuole_csv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `scuole_csv` (
  `ANNOSCOLASTICO` varchar(10) DEFAULT NULL,
  `AREAGEOGRAFICA` varchar(50) DEFAULT NULL,
  `REGIONE` varchar(50) DEFAULT NULL,
  `PROVINCIA` varchar(50) DEFAULT NULL,
  `CODICEISTITUTORIFERIMENTO` varchar(20) DEFAULT NULL,
  `DENOMINAZIONEISTITUTORIFERIMENTO` varchar(255) DEFAULT NULL,
  `CODICESCUOLA` varchar(20) DEFAULT NULL,
  `DENOMINAZIONESCUOLA` varchar(255) DEFAULT NULL,
  `INDIRIZZOSCUOLA` varchar(255) DEFAULT NULL,
  `CAPSCUOLA` varchar(10) DEFAULT NULL,
  `CODICECOMUNESCUOLA` varchar(10) DEFAULT NULL,
  `DESCRIZIONECOMUNE` varchar(100) DEFAULT NULL,
  `DESCRIZIONECARATTERISTICASCUOLA` varchar(255) DEFAULT NULL,
  `DESCRIZIONETIPOLOGIAGRADOISTRUZIONESCUOLA` varchar(255) DEFAULT NULL,
  `INDICAZIONESEDEDIRETTIVO` varchar(10) DEFAULT NULL,
  `INDICAZIONESEDEOMNICOMPRENSIVO` varchar(50) DEFAULT NULL,
  `INDIRIZZOEMAILSCUOLA` varchar(255) DEFAULT NULL,
  `INDIRIZZOPECSCUOLA` varchar(255) DEFAULT NULL,
  `SITOWEBSCUOLA` varchar(255) DEFAULT NULL,
  `SEDESCOLASTICA` varchar(10) DEFAULT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scuole_csv`
--

LOCK TABLES `scuole_csv` WRITE;
/*!40000 ALTER TABLE `scuole_csv` DISABLE KEYS */;
/*!40000 ALTER TABLE `scuole_csv` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-20 16:55:12
